[Unit]
Description=OpenStack App Catalog Service

[Service]
EnvironmentFile=-/etc/default/openstack-catalog
ExecStart=/usr/local/bin/uwsgi --module openstack_catalog.wsgi:application --chmod-socket=777 --vacuum --uid {{catalog_user}} --socket {{catalog_uwsgi_socket}} --workers {{catalog_workers | default(1)}} --logto /tmp/catalog.log
KillMode=control-group
Restart=on-failure

[Install]
Alias=glare.service
